#container
{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.user img
{
  width: 100px;
}
.user
{
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(203, 221, 184);
  text-align: center;
  
}
.user:hover{
    background-color: rgb(91, 102, 67);
    scale: 105%;
}
.user img:hover{
    scale: 105%;
}
.user div:last-child:hover{
    font-weight: bold;
}
.user div:first-child:hover{
    font-weight: bold;
}