.about-container{
    margin: 4ren 8rem;
    text-align: start;
    margin-top: 13%;
    padding-left: 70px;
    padding-right: 70px;
}
.about-container h1{
    padding-bottom: 1rem;
}
.about-container p{
    padding-bottom: 2rem;
}
@media screen and(max-width:850px){
    .about-container{
        margin: 4ren 2rem;
    }
}